.non-res{
  #faq {
    #faq_top {

      height: 300px;
      background: #fcfcfa;
      position: relative;
      border-bottom: 1px solid #b7b49f;;

      #caption_content {
        color: #5a096f;
        font-weight: 500;
        position: relative;
        text-align: center;
        top: 50%;
        font-size: 2.5em;
        //font-weight: bold;
        transform: translateY(-50%);
        #sub {
          color: #5a096f;
          font-size: 0.5em;
          font-weight: 100;
        }
      }
    }

    #faq_content {

      display: block;
      vertical-align: top;
      padding: 3em 0;
      .one_faq {
        display: inline-block;
        width: 48%;
        margin-top: 2%;
        margin-left: 2%;
        vertical-align: top;
        .caption {
          color: #5a096f;
          font-size: 1.4em;
          margin-bottom: 1em;
        }
        .content {
          color: #5a096f;
          font-size: 1.1em;
        }
        //div{
        //  display: block;
        //  white-space: normal;
        //}
      }
    }
  }
}

