<div id="faq">
  <div id="faq_top">
      <div id="caption_content">A Few Frequently Asked Questions<br><span id="sub">Some common questions we receive about Dream Dog</span></div>
  </div>
  <div id="faq_content" class="container">
    <div id="faqs">
      <div class="one_faq" v-for="faq in faqs">
        <div class="caption">{{faq.caption}}</div>
        <div class="content">
          <p v-for="para in faq.content">{{para}}</p>
        </div>
      </div>
    </div>
  </div>
  <contact></contact>
</div>
