.res{
  #faq {
    #faq_top {

      height: 300px;
      background: #fcfcfa;
      position: relative;

      #caption_content {
        line-height: 40px;
        color: #5a096f;
        position: relative;
        text-align: center;
        top: 50%;
        font-size: 2.5em;
        //font-weight: bold;
        transform: translateY(-50%);
        #sub {
          font-size: 0.4em;
          color: #5a096f;
          font-weight: 100;
          line-height: 1.5em;
          display: inline-block;
          margin-top: 1em;
        }
      }
    }

    #faq_content {

      display: block;
      vertical-align: top;
      padding: 1em 0;
      margin-bottom: 2m;
      .one_faq {
        display: inline-block;
        width: 98%;
        vertical-align: top;
        padding: 1em 0;
        text-align: left;
        margin: 0;
        .caption {
          text-align: center;
          display: block;
          font-size: 1.5em;
          margin-bottom: 1em;
          text-align: left;
          //width: 90%;

        }
        .content {
          //text-align: center;
          //color: #5a096f;
          color:grey;
          font-size: 1.1em;
        }
        //div{
        //  display: block;
        //  white-space: normal;
        //}
      }
    }
  }
}
