.res {
  #feature {
    //height: 570vh;
    padding: 1vh 0;
    margin-bottom: 3em;
    //height:100vh !important;
    background: white;
    background-image: url('../../resource/background_feature.jpg');

    #caption {

      font-size: 2em;
      text-align: center;
      color: #1d0729;

    }

    #mockup_container {

      margin-top: 1em;
      max-width: 1400px;
      margin: auto;

      .one_mock {

        display: inline-block;
        width: 100%;
        padding: 2.5em;
        background: transparent;
        margin-left: 0.8%;
        box-shadow: none;
        vertical-align: top;
        opacity: 1;
        animation-duration: 0.5s;
        padding-bottom: 0;
        margin-bottom: 0;
        padding-top: 1em;


        .card-image{
          position: relative;
          margin-top: -50px;
        }

        .card-content{
          position: relative;
          margin-top: -60px;
        }

        .caption {

          font-size: 1.3em;
          text-align: center;
          font-weight: bold;
          line-height: 1em;
          padding: 1em 0;
          color: #66077b;
          text-transform: capitalize;
          padding-bottom: 0.5em;

        }

        .detail {

          text-align: center;
          font-size: 1em;
          color: #9a87a9;
        }
      }

    }
    #mockup_container > div:nth-child(3) > div.card-content{
      top: 0px;
      margin-top: 0;
    }

    #mockup_container > div:nth-child(3) >div.card-image{

      margin-top:0px !important;
    }

  }
}
