<div id="feature" class="">

    <div id="caption">our feature</div>

    <div id="mockup_container">

            <div class="card one_mock" v-for="mock in feature_list">
                <div class="card-image">
                    <img src="{{mock.img}}">
                </div>
                <div class="card-content">
                   <div class="caption">{{mock.caption}}</div>
                    <div class="detail">{{mock.detail}}</div>
                </div>
            </div>


    </div>

</div>