.non-res {
  #feature {


    padding: 1vh 0;
    height: 100vh !important;
    background: white;
    display: none;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    background-image: url('../../resource/background_feature.jpg');

    #caption {

      font-size: 3em;
      text-align: center;
      color: #b7b49f;
      opacity: 0;
    }



    #mockup_container {

      margin-top: 1em;
      max-width: 90vw;
      margin: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      max-width: 1500px;
      min-width: 700px;
      div:nth-child(3){
        position: relative;
        top: -25px;
      }
      .one_mock {

        display: inline-block;
        width: 19%;
        background: transparent;
        margin-left: 1%;
        box-shadow: none;
        vertical-align: top;
        opacity: 1;
        animation-duration: 0.5s;


        .card-content, .card-image {
          padding: 1em 0;
          opacity: 0;
          img{
            width: 105%;
          }
        }

        .caption {

          font-size: 1.3em;
          text-align: center;
          font-weight: bold;
          line-height: 1em;
          padding: 1em 0;
          color: #66077b;
          text-transform: capitalize;
          padding-bottom: 0.5em;

        }

        .detail {

          text-align: center;
          font-size: 1em;
          color: #9a87a9;
        }
      }

    }

    #mockup_container > div:nth-child(1) > div.card-image{
      position: relative;
      top: -25px;
    }
    #mockup_container > div:nth-child(2) > div.card-image{
      position: relative;
      top: -25px;
    }
    #mockup_container > div:nth-child(4) > div.card-image{
      position: relative;
      top: -25px;
    }
    #mockup_container > div:nth-child(5) > div.card-image{
      position: relative;
      top: -25px;
    }
    #mockup_container > div:nth-child(3) > div.card-content{
      position:relative;
      top: 25px;
    }

  }
}
