.non-res {
  #feature {

    padding: 1vh 0;
    height: 100vh !important;
    background: white;
    display: none;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    background-image: url('../../resource/background_feature.jpg');

    #caption {

      font-size: 3em;
      text-align: center;
      color: #b7b49f;
      opacity: 0;
      //animation-\

    }

    #mockup_container {

      margin-top: 1em;
      max-width: 85vw;
      margin: auto;

      .one_mock {

        display: inline-block;
        width: 19%;
        background: transparent;
        margin-left: 1%;
        box-shadow: none;
        vertical-align: top;
        opacity: 1;
        animation-duration: 0.5s;

        .card-content, .card-image {
          padding: 1em 0;
          opacity: 0;
        }

        .caption {

          font-size: 1.3em;
          text-align: center;
          font-weight: bold;
          line-height: 1em;
          padding: 1em 0;
          color: #66077b;
          text-transform: capitalize;
          padding-bottom: 0.5em;

        }

        .detail {

          text-align: center;
          font-size: 1em;
          color: #9a87a9;
        }
      }

    }

  }
}
