#feature{

  //padding: 7em 0em;
  background: white;
  padding-top: 3vh;
  display: none;
  #caption{

    font-size: 2em;
    text-align: center;
    font-weight: 600;
    color: #b7b49f;
    text-transform: uppercase;
    opacity: 0;

  }

  #mockup_container{

    margin-top:1em;

    .one_mock{

      display: inline-block;
      width: 19%;
      margin-left: 0.8%;
      box-shadow: none;
      vertical-align: top;
      opacity: 1;
      animation-duration:0.5s;

      .card-content,.card-image{

        opacity: 0;
      }


      .caption{

        font-size: 1.4em;
        text-align: center;
        font-weight: bold;
        line-height: 1em;
        padding: 1em 0;
        color: #66077b;
        text-transform: capitalize;
        padding-bottom: 0.5em;

      }

      .detail{

        text-align: center;
        font-size: 1.1em;
        color: #9a87a9;
      }
    }

  }


}
