<div id="tos">
  <div class="container">
  <div id="tos-main-title">PRIVACY POLICY</div>
  <div id="tos-main-content">
    <p>
      The Privacy Policy describes how Pantoscope Media Inc. (“the Company”, “we” or “us”) treats personal information when you use the “Dream Dog” application (including without limitation all other content and functionality available through such service, and all updates thereof, the “Service”) provided by the Company.
      By accessing and using the Service, you shall be deemed to have accepted and agreed to the terms hereafter set forth (the “Privacy Policy”).
      If you do not agree to this Privacy Policy, please do not use the Service.
    </p>

    <p>
      This Privacy Policy may be changed from time to time. Changes will be posted on the Service and on our website and your use of the Service after such changes have been posted will constitute your agreement to the modified Privacy Policy and all of the changes.
    </p>
  </div>

  <div class="second-title">
    Consent and Information Collection
  </div>

  <p>
    For the purposes of this Privacy Policy, “personal information” means any information about an identifiable individual, as further defined under British Columbia’s Personal Information Protection Act or other applicable laws, and also includes user content, such as photos, comments and other materials, that you post to the Service that contain such information.
    Personal information excludes the name, position name or title, business telephone number, business address, business e-mail, and business fax number of an individual, as well as any publicly available information as designated under applicable laws, such as information available from a public telephone directory or from a public registry.
  </p>

  <p>
    When you access the Service, use the functionality contained therein and/or communicate with us via email, social media, live chat, or feedback or contact forms located on the Service, we may ask for personal information that will be used in accordance with this Privacy Policy.
    Some information is also automatically collected, such as your Internet Protocol address or device information, GPS and other location information, your operating system, the browser type, the address of a referring website, your user preferences and your activity on the Service.
    We treat this information as personal information if we combine it with or link it to any of the identifying personal information as defined above.
  </p>

  <p>
    By providing personal information to us, you consent to the collection, use and disclosure of such personal information as specified in this Privacy Policy.
    Without limiting the foregoing, we may on occasion ask you to consent when we collect, use, or disclose your personal information in specific circumstances.
    Sometimes your consent will be implied through your conduct with us if the purpose of the collection, use or disclosure is obvious and you voluntarily provide the information.
    For example, if you provide your contact information and request information regarding a particular service, consent to use the contact information to provide the requested information will be implied.
  </p>

  <p>
    If you provide the Company or its service providers or agents with personal information about an individual, you represent that you have all necessary authority and/or have obtained all necessary consents from such individual to enable the Company to collect, use, and disclose such personal information for the purposes set forth in this Privacy Policy.
  </p>

  <div class="second-title">
    Use of Information
  </div>

  <p>
    We may use your personal information for the following purposes:
  </p>

  <p class="para-list-style">
    to provide the features and functionality of the Service to you, including without limitation the functionality that allow you to provide GPS location and other information to fully utilize certain features of the Service;
  </p>

  <p class="para-list-style">
    to create, manage and control your account information, and to verify access rights to the Service;
  </p>

  <p class="para-list-style">
    to bill your account, if applicable;
  </p>

  <p class="para-list-style">
    to communicate with you, including without limitation for the purpose of providing you with information about the Service and the features and functionality thereof,
    or informing you of changes or additions to the Service or of the availability of any other services or features we provide;
  </p>

  <p class="para-list-style">
    to enforce this Privacy Policy or our  Terms of Service;
  </p>

  <p class="para-list-style">
    to protect against fraud or error, and to respond to claims of any violation of our rights or those of any third parties;
  </p>

  <p class="para-list-style">
    to respond to your requests for customer service;
  </p>

  <p class="para-list-style">
    to protect the rights, property or personal safety of you, us, our users and the public;
  </p>

  <p class="para-list-style">
    for our internal business purposes, such as to analyze trends and statistics, for audits, to develop new programs, to enhance our websites, to improve our programs and services,
    to identify usage trends and to determine the effectiveness of our promotional campaigns;
  </p>

  <p class="para-list-style">
    to prevent, detect and investigate activity and transactions that are suspicious, fraudulent, or violate our Terms of Service;
  </p>

  <p class="para-list-style">
    as required or authorized by law; and other purposes consented to by you.
  </p>

  <p>
    You also may provide personal information to be published or displayed on public areas of the Service, or transmitted to other users of the Service or third parties, including without limitation photos, comments and other materials (collectively, “User Contributions”).
    Your User Contributions are published or displayed on the Service and transmitted to others at your own risk.
    We cannot control the actions of other users of the Service with whom you may choose to share your User Contributions.
    Therefore, we cannot and do not guarantee that your User Contributions will not be viewed and/or utilized by unauthorized persons.
  </p>

  <div class="second-title">
    Sharing of Personal Information
  </div>

  <p>
    The Company may disclose an individual’s personal information to others in connection with the purpose for which it was collected, as consented to by the individual, or as required or permitted by law.
    Without limiting the generality of the foregoing, examples of where your personal information may be disclosed include:
  </p>

  <p>
    We may share your personal information with other users of the Service when you access features of the Service that enable you to post information and content that is accessible to such other users.
    If you remove information or content from the Service, copies may remain viewable in cached or archived pages of the Service, or if other users of the Service have copied or saved the information or content.
  </p>

  <p>
    We may share your personal information with certain service providers, hosting providers, printers, vendors, consultants and credit card or payment processing companies (“Service Providers”).
    When we engage Service Providers who manage personal information on our behalf and/or perform services on our behalf, such as hosting content, conducting surveys, sending communications, processing payments or helping prevent fraudulent transactions, we may share your personal information with such Service Providers.
  </p>

  <p>
    We may share certain information such as cookie data with third party advertising partners to allow such advertisers to, among other things, deliver targeted advertisements that they believe will be of the most interest to you.
  </p>

  <p>
    The Company is not responsible for the actions of any independent third parties you may choose to engage with directly, nor are we responsible for any additional information you provide directly to any third parties,
    and we encourage you to become familiar with their privacy practices before disclosing information directly to any such parties
  </p>

  <div class="second-title">
    Rights to Your Information
  </div>

  <p>
    We strive to ensure that any personal information we retain and use is accurate, complete and up-to-date as necessary for the purposes for which we will use it.
    If our records regarding your personal information are inaccurate or incomplete, we will amend that information at your request.
  </p>

  <div class="second-title">
    Aggregated Data
  </div>

  <p>
    We may also use your personal information and Service usage statistics to generate Aggregated Data for internal use and for sharing with others on a selective basis.
    “Aggregated Data” means records which have been stripped of information potentially identifying customers or users, and which have been manipulated or combined to provide generalized, anonymous information.
    Your identity and personal information will be kept anonymous in Aggregated Data.
  </p>

  <div class="second-title">
    Links
  </div>

  <p>
    The Service may contain links to other websites. This Privacy Policy does not apply to other websites and services and we are not responsible for the privacy practices or the content of such websites and services.
    We encourage you to read the privacy policy of linked websites and services prior to providing them with personal information.
    Their privacy policies and practices may differ significantly from our policies and practices.
  </p>

  <div class="second-title">
    Cookies, Log Files and Device Identifiers
  </div>

  <p>
    When you visit the Service, we may use cookies and similar technologies like pixels, web beacons, and local storage to collect information about how you use the Service and to provide features to you.
    We may ask advertisers or other partners to serve ads or services to your devices, which may use cookies or similar technologies placed by us or the third party.
  </p>

  <p>
    Log file information is automatically reported by your browser each time you make a request to access (i.e., visit) a web page or app. It can also be provided when the content of the webpage or app is downloaded to your browser or device.
    When you use our Service, our servers may automatically record certain log file information, including your web request, Internet Protocol address, browser type, referring / exit pages and URLs, number of clicks and how you interact with links on the Service, domain names, landing pages, pages viewed, and other such information.
    We may also collect similar information from emails sent to our users which then help us track which emails are opened and which links are clicked by recipients. The information allows for more accurate reporting and improvement of the Service.
  </p>

  <p>
    When you use a mobile device like a tablet or phone to access the Service, we may access, collect, monitor, store on your device, and/or remotely store one or more “device identifiers.”
    Device identifiers are small data files or similar data structures stored on or associated with your mobile device, which uniquely identify your mobile device. A device identifier may be data stored in connection with the device hardware, data stored in connection with the device’s operating system or other software, or data sent to the device by the Company.
    A device identifier may deliver information to us or to a third party partner about how you browse and use the Service and may help us or others provide reports or personalized content and ads.
    Some features of the Service may not function properly if use or availability of device identifiers is impaired or disabled.
  </p>

  <div class="second-title">
    Change of Ownership or Business Transition
  </div>

  <p>
    In the event of a change of ownership or other business transition, such as a merger, acquisition or sale of our assets, your information may be transferred in accordance with applicable privacy laws.
  </p>

  <div class="second-title">
    Security
  </div>

  <p>
    We will strive to prevent unauthorized access to your personal information, however, no data transmission over the Internet, by wireless device or over the air, is guaranteed to be 100% secure.
    We will continue to enhance security procedures as new technologies and procedures become available.
    Please remember that you control what personal information you provide while using the Service. Ultimately, you are responsible for maintaining the secrecy of any personal information provided in connection with the use of the Service.
    Always be careful and responsible regarding your personal information. We are not responsible for, and cannot control, the use by others of any information which you provide to them and you should use caution in selecting the personal information you provide to others through the Service.
    Similarly, we cannot assume any responsibility for the content of any personal information or other information which you receive from other users through the Service, and you release us from any and all liability in connection with the contents of any personal information or other information which you may receive using the Service.
    We cannot guarantee, or assume any responsibility for verifying, the accuracy of the personal information or other information provided by any third party.
    You release us from any and all liability in connection with the use of such personal information or other information of others.
  </p>

  <div class="second-title">
    Contact us
  </div>

  <p>
    All feedback, comments, or other communications relating to this Privacy Policy should be directed by email to support@pantoscopemedia.com.
  </p>


</div>
