.non-res {
  #contact {
    //border-bottom: 1px solid rgba(0, 0, 0, .07);
    //display: none;
    //height: 100vh;

    .container {

      z-index: 2;
      position: relative;
      max-width: 1500px;
      margin-bottom: 2em;
    }

    .input[type=text].valid {

      border-bottom: 1px solid #4CAF50 !important;
    }
    .input[type=text].invalid {

      border-bottom: 1px solid #F44336 !important;
    }

    .team-member-wrapper {
      margin: auto;
      max-width: 560px;
      text-align: center;

    }

    #caption {
      line-height: 50px;
      font-size: 1.7em;
      font-weight: 300;
      color: #1d0729;
      margin: auto;
      display: inline-block;
    }

    .email {
      height: 18px;
      img {
        height: 100%;
      }
      a {
        color: #5a096f;
        font-weight: 600;
      }
    }

    .form-wrapper {
      padding-top: 3vh;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      //opacity: 0;
      label{
        display: block;
        color: #5a096f;
        font-weight: bold;
      }
      #lab_email{
        margin-left: 3%;
      }
      #form_caption{
        font-size:  1.4em;
        text-align: center;
        width: 60%;
        margin: 1em auto;
        color: #5a096f;
      }
      .form_input {
        width: 100%;
      }
      .col-s6 {
        display: inline-block;
        width: 49%;
        white-space: nowrap;
        //padding: 10px;
      }

      input {
        box-sizing: border-box;
        border: 1px solid #b7b49f;
        border-radius: 4px;
        font-size: 1em;
      }

      #email {
        margin-left: 3%;
      }

      #err-email {
        margin-left: 3%;
      }
    }

    input, textarea {
      padding: 10px;
      width: 100%;
      color: #999999;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box; /* Firefox, other Gecko */
      box-sizing: border-box; /* Opera/IE 8+ */

    }
    #message {
      height: 200px;
      resize: none;
      border-radius: 4px;
      border: 1px solid #b7b49f;
    }

    #message:focus {

      outline: none !important;
      border-color: rgba(18, 75, 98, 0.24);
    }

    #message:active {

      outline: none !important;
      border-color: rgba(18, 75, 98, 0.24);
    }

    #submit-but {
      width: 40%;
      margin: auto;
      display: block;
      max-width: 300px;
      min-width: 100px;
      background-color: #5a096f;
      color: #ffffff;
      margin-top: 3em;
      border-radius: 4vh;
    }

    .error {
      color: #ffffff;
      font-size: 1em;
      line-height: 1em;
      padding: 0.5em;
      vertical-align: top;
      background-color: #da8383;
      margin-bottom: 1em;
      display: inline-block;
    }

    .untouched {
      box-shadow: none;
    }

    .success, .failed {
      margin-top: 20px !important;
      margin: auto;
      width: 30%;
      color: #9ec19e;
      text-align: center;
    }

  }
}
