<div id="contact">
    <div class="container">
        <div class="team-member-wrapper">
            <img :src="teamMember" />
            <div id="caption">Contact Our Team</div>
        </div>

        <div class="form-wrapper">
            <form>
                <input type="text" id="name" placeholder="Name"><br>
                <input type="text" id="email" placeholder="Email"><br>
                <textarea id="message" rows="6" placeholder="Your Message"></textarea>
                <input type="submit" id="submit-but" value="Submit">
            </form>
        </div>
    </div>
</div>