.non-res {
  #contact {
    padding: 8vh 0em;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    display: none;
    height: 100vh;

    .container {

      max-width: 1500px;
    }

    .input[type=text].valid {

      border-bottom: 1px solid #4CAF50 !important;
    }
    .input[type=text].invalid {

      border-bottom: 1px solid #F44336 !important;
    }

    .team-member-wrapper {
      margin: auto;
      max-width: 560px;
      text-align: center;

      img {

        max-width: 200px;
        display: block;
        margin: auto;
      }
    }

    #caption {
      line-height: 72px;
      font-size: 2em;
      font-weight: 300;
      color: #124b62;
      border-bottom: 1px solid rgba(18, 75, 98, 0.17);
      margin: auto;
      display: inline-block;
    }

    .form-wrapper {
      padding-top: 3vh;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      opacity: 0;

      input {

        border: 1px solid rgba(18, 75, 98, 0.24);
        border-bottom: 1px solid rgba(18, 75, 98, 0.24);
        border-radius: 0px;
        font-size: 1em;
      }
    }

    input, textarea {
      padding: 10px;
      font-size: 1em;
      border: 1px solid #E5E5E5;
      width: 100%;
      color: #999999;
      border-radius: 5vh;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box; /* Firefox, other Gecko */
      box-sizing: border-box; /* Opera/IE 8+ */

    }
    #message {
      height: 200px;
      resize: none;
      border-radius: 0px;
      border: 1px dashed rgba(18, 75, 98, 0.24);
    }

    #message:focus {

      outline: none !important;
      border-color: rgba(18, 75, 98, 0.24);
    }

    #message:active {

      outline: none !important;
      border-color: rgba(18, 75, 98, 0.24);
    }

    #submit-but {
      width: 40%;
      margin-top: 3em;
      margin: auto;
      display: block;
      max-width: 300px;
      min-width: 100px;
      background-color: #5a096f;
      color: #ffffff;
    }

    .error {
      color: #ffffff;
      font-size: 1.2em;
      line-height: 1em;
      padding: 0.5em;
      vertical-align: top;
      background-color: #da8383;
      margin-bottom: 1em;
      display: inline-block;
    }

    .untouched {
      border-bottom: 1px solid #fafafa !important;
      box-shadow: none;
    }

    .success, .failed {
      margin-top: 20px !important;
      margin: auto;
      width: 30%;
      color: #9ec19e;
      text-align: center;
    }

  }
}
