.res {
  #contact {
    padding-top: 2em;
    margin-bottom: 2em;
    //border-bottom: 1px solid rgba(0,0,0,.07);
    //display: none;

    .container {

      max-width: 1500px;
    }

    .input[type=text].valid {

      border-bottom: 1px solid #4CAF50 !important;
    }
    .input[type=text].invalid {

      border-bottom: 1px solid #F44336 !important;
    }

    .team-member-wrapper {
      margin: auto;
      max-width: 560px;
      text-align: center;
    }

    #caption {
      line-height: 30px;
      font-size: 1.5em;
      font-weight: 300;
      color: #124b62;
      margin: auto;
      display: inline-block;
    }

    .email{
      margin: 1em 0;
      height: 18px;
      img{
        height: 100%;
      }
      a{
        color:#5a096f;
        font-weight: 600;
      }

    }

    .form-wrapper {
      padding-top: 3vh;
      margin: 0;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      //opacity: 0;
      label{
        display: block;
        color: #5a096f;
        font-weight: bold;
      }

      #form_caption{
        font-size:  1.4em;
        text-align: center;
        width: 70%;
        margin: 0.5em auto;
        color: #5a096f;
      }

      input {
        border: 1px solid #b7b49f;
        border-radius: 5px;
        font-size: 1em;
      }
    }

    input, textarea {
      padding: 10px;
      font-size: 1em;
      width: 100%;
      color: #999999;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box; /* Firefox, other Gecko */
      box-sizing: border-box; /* Opera/IE 8+ */

    }
    #message {
      border: 1px solid #b7b49f;
      border-radius: 5px;
      height: 200px;
      resize: none;
    }

    #message:focus {

      outline: none !important;
      border-color: rgba(18, 75, 98, 0.24);
    }

    #message:active {

      outline: none !important;
      border-color: rgba(18, 75, 98, 0.24);
    }

    #submit-but {
      width: 40%;
      margin-top: 3em;
      display: block;
      margin: auto;
      margin-top: 10px;
      background-color: #5a096f;
      color: #ffffff;
      border-radius: 4vh;
    }

    .error {
      color: #ffffff;
      font-size: 1.2em;
      line-height: 1em;
      padding: 0.5em;
      vertical-align: top;
      background-color: #da8383;
      margin-bottom: 1em;
      display: inline-block;
    }

    .untouched {
      box-shadow: none;
    }

    .success, .failed {
      margin-top: 20px !important;
      margin: auto;
      color: #9ec19e;
      text-align: center;
      display: block;
      margin: 0;
      width: 100%;
      p {

        text-align: center;
      }
    }

  }
}
