.non-res{
  #header {
  position: fixed;
  top: 0;
  background: #fcfcfa;
  width: 100vw;
  height: 50px;
  box-shadow: 0px 0px 10px 0px #e6e6e6;
  z-index: 999;
  #caption {
    cursor: pointer;
    position: absolute;
    //top: 6px;
    color: #66087c;
    padding-left: 10px;
    font-weight: bold;
    img{
      display: inline-block;
      height: 40px;
      position:relative;
      top: 5px;
    }
    #content{
      font-size: 1.8em;
      position: relative;
      top: -13px;
      text-transform: uppercase;
      font-weight: normal ;
      b{
        color: #d6a534;
        background: linear-gradient( to top right,#e2b62d, #95495e);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    a{
      color: #66087c;

    }
  }

  #header_content {

    padding-left: 200px;
    padding-right: 10px;
    line-height: 1.9em;
    text-align: right;
    //padding-right: 50px;
    height: 100%;
    .tab{
      display: inline-block;
      margin-right: 1.5%;
      height: 100%;
    }
    a {
      color: #66087c;
      display: inline-block;
      height: 100%;
      padding: 0.8em;
      padding-right: 16px;
      font-size: 1.1em;
      font-weight: normal;
      &:hover {
        font-weight: bold;
        border-bottom: 3px solid;
      }
    }
    a.active{
      font-weight: bold;
      border-bottom: 3px solid;
    }
  }
}
  #rsps-header{
    position: fixed;
    top: 0;
    background: #fcfcfa;
    width: 100vw;
    height: 50px;
    box-shadow: 0px 0px 10px 0px #e6e6e6;
    z-index: 999;
    #rsps-header-container{
      max-width: 590px;
      margin: 0 auto;
      position: relative;
      top: 4px;
      #rsps-caption-left{
        display: inline-block;
        img{
          max-height: 40px;
          display: inline-block;
        }
        #caption-text{
          vertical-align: top;
          display: inline-block;
          font-size: 1.3rem;
          font-weight: 300;
          margin: 8px 0 0 6px;
          color: #66087c;
        }
      }
      #rsps-caption-right{
        display: inline-block;
        #select-lan{
          vertical-align: top;
          display: inline-block;
          font-size: 1rem;
          font-weight: 400;
          margin: 10px 0 0 6px;
          color: #66087c;
        }
      }
    }
  }

  }

