<div id="header">
  <div id="caption" v-link="{ path: '/' }">
    <img :src="logo" ><span id="content"><b>Dream</b>Dog</span>
  </div>
  <div id="header_content">
    <div class="tab">
      <a v-link="{ path: '/' }" :class={'active':currPage=='home'}>HOME</a>
      <!--<div id="faq_container">-->
        <!--<a v-link="{ path: '/faq'}">Any Questions?</a>-->
      <!--</div>-->
    </div>
    <div class="tab">
      <a v-link="{ path: '/faq' }" :class={'active':currPage=='help'}>HELP</a>
      </div>
  </div>
</div>
