.non-res{
  #header {
  position: fixed;
  top: 0;
  background: #fcfcfa;
  width: 100vw;
  height: 50px;
  box-shadow: 0px 0px 10px 0px #e6e6e6;
  z-index: 999;
  #caption {
    cursor: pointer;
    position: absolute;
    //top: 6px;
    color: #66087c;
    padding-left: 10px;
    font-weight: bold;
    img{
      display: inline-block;
      height: 50px;
    }
    #content{
      font-size: 1.8em;
      position: relative;
      top: -13px;
      text-transform: uppercase;
      font-weight: normal ;
      b{
        color: #d6a534;
        background: linear-gradient( to top right,#e2b62d, #95495e);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  #header_content {

    padding-left: 200px;
    padding-right: 10px;
    line-height: 1.9em;
    text-align: right;
    //padding-right: 50px;
    height: 100%;
    #faq_container{
      width: auto;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
    }
    a {
      color: #66087c;
      display: inline-block;
      height: 100%;
      font-weight: bold;
      padding: 0.8em;
      padding-right: 16px;
      font-size: 1em;
      &:hover {
        color: #66087c;
        cursor: pointer;
      }
    }
  }
}

  }

