<div id="header" v-if ="!isResetps">
  <div id="caption" v-link="{ path: '/' }">
    <img :src="logo" >
  </div>
  <div id="header_content">
    <div class="tab">
      <a v-link="{ path: '/' }" :class="{'active':currPage=='home'}">HOME</a>
    </div>
    <div class="tab">
      <a v-link="{ path: '/faq' }" :class="{'active':currPage=='help'}">HELP</a>
      </div>
  </div>
</div>
<div id="rsps-header"  v-else>
  <div id="rsps-header-container">
    <div id="rsps-caption-left">
      <img :src="slogo">
      <div id="caption-text">
        Password Reset
      </div>
    </div>
    <div id="rsps-caption-right" class="right">
      <div id="select-lan">
        English
      </div>
    </div>
  </div>

</div>
