.res {
  #header {
    position: fixed;
    top: 0;
    padding: 1em;
    background: white;
    width: 100vw;
    height: 50px;
    box-shadow: 0px 0px 10px 0px #e6e6e6;
    z-index: 999;
    #caption {

      position: absolute;
      font-size: 1.5em;
      top: 10px;
      color: #66087c;
    }

    #header_content {
      line-height: 1.9em;
      text-align: right;
      a {
        //color:grey;
        &:hover {
          color: #0a85c1;
          cursor: pointer;
        }
      }
    }

    #header_content {

      padding-left: 200px;
      line-height: 1.9em;
      text-align: right;
      padding-right: 5px;
      a {
        //color:grey;
        &:hover {
          color: #0a85c1;
          cursor: pointer;
        }
      }
    }
  }
}

