.res {
  #header {
    position: fixed;
    top: 0;
    //padding: 1em;
    background: #fcfcfa;
    width: 100vw;
    height: 50px;
    box-shadow: 0px 0px 10px 0px #e6e6e6;
    z-index: 999;
    #caption {
      cursor: pointer;
      position: absolute;
      //top: 6px;
      color: #66087c;
      //padding-left: 10px;
      font-weight: bold;
      img{
        display: inline-block;
        height: 50px;
      }
      #content{
        font-size: 1.3em;
        position: relative;
        top: -13px;
        text-transform: uppercase;
        font-weight: normal ;
        b{
          color: #d6a534;
          background: linear-gradient( to top right,#e2b62d, #95495e);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    #header_content {

      padding-left: 150px;
      padding-right: 10px;
      line-height: 2.5em;
      text-align: right;
      height: 100%;
      .tab{
        display: inline-block;
        margin-right: 1.5%;
        height: 100%;
      }
      a {
        color: #66087c;
        display: inline-block;
        height: 100%;
        padding: 0.8em;
        padding-right: 16px;
        font-size: 1.1em;
        font-weight: normal;
        &:hover {
          font-weight: bold;
          border-bottom: 3px solid;
        }
      }
      a.active{
        font-weight: bold;
        border-bottom: 3px solid;
      }
    }
  }
}
