<div id="nav_bar">
    <!--<div id="divider"></div>-->
    <!--{{currentView}}-->
    <div class="one_nav" :class="{'selected':currentView=='introduction'}" v-on:click="toPosition('introduction')"><div class="title">Introduction</div></div>
    <div class="one_nav" :class="{'selected':currentView=='shelter'}" v-on:click="toPosition('shelter')" ><div class="title">Shelter</div></div>
    <div class="one_nav" :class="{'selected':currentView=='feature'}" v-on:click="toPosition('feature')" ><div class="title">Feature</div></div>
    <div class="one_nav" :class="{'selected':currentView=='contact'}" v-on:click="toPosition('contact')" ><div class="title">Contact</div></div>
</div>