#landing{

  #content_container{

    padding-top: 5vh;
  }


  #hero_container{

    top:0;
    left: 0;
    width: 100vw;
    height: auto;
    padding: 2vh 10vw;
    text-align: center;
    position: relative;

    #main_container{

      position: relative;
    }



    #bg{

      position: absolute;
      left: 0;
      top:0;
      height: 90vh;
      width:100vw;
      background:#fafafa;
    }


    #screen{

      max-width: 400px;
      margin: auto;
      img{

        width:100%;
      }
    }


    #download{
      max-width: 350px;
      white-space:nowrap;
      margin: auto;
      margin-top: 1em;
      img{
        width: 100%;
      }
      .dow{

        display: inline-block;
        width:49%;
        margin-left: 1%;
      }
    }

    #main_logo{

      img{
        width: 250px;
      }
    }

    .main_content{

      font-size: 1.7em;
      max-width: 500px;
      font-weight: 200;
      margin: auto;
      opacity: 0;
      position: relative;
      top: -30px;
      margin-top: 1em;
      color:#9a87a9;

      .pur{
        color:#6b1198;
      }
      .yel{

        color:#ecd034;
      }
    }

  }
}