<div id="landing">

  <div class="section">

    <!--<div id="bg"></div>-->


    <div id="hero_container">

      <div id="main_container">
        <div id="container_left">
        <div id="main_logo">
          <img :src="dreamDogLogo"/>
        </div>
        <div class="main_content">
          <b class="pur">Dogs aren't just pets,</b>they are family members!The <b class="yel">Dream Dog App </b>helps
          you find the perfect dog to add to your family by appearance,breed,location or shelter!
        </div>
        <div id="download">
          <div class="dow"><img :src="appStore"></div>
          <div class="dow"><img :src="gooStore"></div>
        </div>
        </div><!--
        --><div id="container_right">
        <div id="screen">
          <div id="scr"><img :src="screenShots"/></div>
        </div>
        </div>

      </div>


    </div>


  </div>


  <div class="section"><shelter></shelter></div>
  <div class="section"><feature></feature></div>
  <div class="section"><contact></contact></div>


  <!--<div id="content_container">-->

  <!--<shelter></shelter>-->
  <!--<feature></feature>-->
  <!--<contact></contact>-->
  <!--<foot></foot>-->
  <!--</div>-->

  <!--{{list}}-->
</div>
<navbar></navbar>
