<div id="landing">

    <div id="hero_container">

        <div id="main_container">

            <div id="main_logo">
                <img v-attr="src:dreamDogLogo" />
            </div>
            <div class="main_content">
                <b class="pur">Dogs aren't just pets,</b>they are family members!The <b class="yel">Dream Dog App </b>helps you find the perfect dog to add to your family by appearance,breed,location or shelter!
            </div>
            <div id="download">
                <div class="dow"><img v-attr="src:appStore"></div>
                <div class="dow"><img v-attr="src:gooStore"></div>
            </div>

            <div id="screen">
                <div id="scr"><img v-attr="src:screenShots"/></div>
            </div>

        </div>


    </div>
    <div id="content_container">

    <shelter></shelter>

    </div>
</div>