#landing{

  .active{

    z-index:9999;
  }

  .section{
    display: block;
    padding: 0;
    //height: 100vh;
    width: 100%;
    //padding: 0em 5em;
    //overflow: hidden;
    margin: auto;
    //max-width: 1500px;

  }

  #content_container{

    padding-top: 5vh;
  }


  #hero_container{

    left: 0;
    height: auto;
    text-align: center;
    position: relative;
    padding: 0;
    max-width: 1500px;
    margin: auto;
    padding: 2vh 0;
    background: #fafafa;
    #main_container{

      position: relative;
      #container_left{
        display: inline-block;
        width: 100%;
        vertical-align: middle;
      }
      #container_right{
        //position: relative;
        //top: 80px;
        width: 90%;
        margin: auto;
        //display: inline-block;
        //vertical-align: middle;
      }
    }

    #screen{

      //max-width: 40vw ;
      margin: auto;
      img{

        width:100%;
      }
    }


    #download{
      //max-width: 350px;
      white-space:nowrap;
      margin: auto;
      img{
        width: 100%;
      }
      .dow{

        display: inline-block;
        width: 40%;
        margin-left: 1%;
      }
    }

    #main_logo{

      width: 65vw;
      margin: auto;

      img{
        width: 100%;
      }
    }

    .main_content{

      font-size: 1em;
      //max-width: 500px;
      font-weight: 200;
      position: relative;
      top: -10px;
      color:#9a87a9;
      margin: 1em 0em;
      font-size: 5.4vw;
      margin-top: 5vh;
      margin-bottom: 0;

      .colr{
        //display: -webkit-box;
        //color: #f35626;
        //background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
        //-webkit-background-clip: text;
        //-webkit-text-fill-color: transparent;
        //-webkit-animation: hue 60s infinite linear;

      }

      .pur{
        color:#6b1198;
      }
      .yel{

        color:#ecd034;
      }

      //@-webkit-keyframes hue {
      //  from {
      //    -webkit-filter: hue-rotate(0deg);
      //  }
      //
      //  to {
      //    -webkit-filter: hue-rotate(360deg);
      //  }
      //}
    }

  }
}



//
//@media only screen and (max-width: 440px){ //for nexus 6p 5x iphone 6+
//  #recent_adopt #caption{
//    min-width: 310px !important;
//    padding-left: 5% !important;
//  }
//
//  #hero_container #screen img {
//    width: 90% !important;
//  }
//
//  #container_right{
//    top: 100px !important;
//  }
//
//}

//
//@media only screen and (max-width: 400px) { //for S5  iphone 6
//  #recent_adopt #caption{
//    min-width: 280px !important;
//    padding-left: 20px !important;
//    font-size: 4.5vw !important;
//  }
//
//  #hero_container #screen img {
//    width: 110% !important;
//  }
//
//  #container_right {
//    top: 77px !important;
//  }
//}

//@media only screen and (max-width: 350px) { //iphone 5
//  #recent_adopt #caption{
//    min-width: 250px !important;
//    padding-left: 25px !important;
//    font-size: 4.5vw !important;
//  }
//
//  #hero_container #screen img {
//    width: 120% !important;
//  }
//
//  #container_right {
//    top: 80px !important;
//  }
//}


