.non-res {
  #landing {

    #landing_top{

      height:100vh;
      background: #fcfcfa;
    }

    .active {

      z-index: 9999;
    }

    .section {
      padding: 0;
      //height: 100vh;
      width: 100vw;
      min-width: 1000px;
      //padding: 0em 5em;
      overflow: hidden;
      //position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      //max-width: 1500px;

      #bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        background: #fafafa;
        background: url('https://images.unsplash.com/photo-1455845694919-f0b3826ea301?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=843&q=80');
        height: 90vh;
        -webkit-filter: blur(3px);
        background-size: contain;
      }

    }

    #content_container {

      padding-top: 5vh;
    }

    #hero_container {

      left: 0;
      height: auto;
      text-align: center;
      position: relative;
      padding: 0;
      max-width: 1500px;
      margin: auto;
      padding: 5vh 0;
      top:50%;
      transform:translateY(-50%);
      //background: #fafafa;
      #main_container {

        position: relative;
        #container_left, #container_right {
          display: inline-block;
          width: 45%;
          vertical-align: middle;
        }
      }

      #screen {

        //max-width: 40vw ;
        margin: auto;
        img {

          width: 100%;
        }
      }

      #landing_form{
        max-width: 500px;
        margin: 1em auto 1em auto;
        position: relative;
        height: 50px;
        border-radius: 5px;
        overflow: hidden;
        padding: 2px;
        input{
          display: inline-block;
        }
        .untouched {
          box-shadow: none;
        }
        #landing_form_email{
          width: 100%;
          border: 1px solid #b7b49f;
          box-sizing: border-box;
          padding-left: 10px;
          height: 3.2rem;
          border-radius: 3px;
        }
        #landing_form_sub{

          border:none;
          width: 30%;
          right: 0;
          position: absolute;
          width: 30%;
          right: 0;
          background: #66087c;
          color: white;
          border-radius: 0px 5px 5px 0px;
          padding: 15px;
          text-transform: capitalize;

        }
      }

      #download {
        max-width: 350px;
        white-space: nowrap;
        margin: auto;
        #cs{
          width: 150px;
          display: block;
          position: relative;
          right: -110px;
          top: 10px;
        }
        img {
          width: 100%;
        }
        .dow {

          display: inline-block;
          width: 49%;
          margin-left: 1%;
        }
      }

      #main_logo {

        img {
          width: 300px;
        }
      }

      .main_content {

        font-size: 1.60em;
        max-width: 500px;
        font-weight: 200;
        margin: auto;
        opacity: 1;
        position: relative;
        top: -30px;
        margin: 1em auto;
        color: #9a87a9;

        .colr {

          //color: #f35626;
          //background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
          //-webkit-background-clip: text;
          //-webkit-text-fill-color: transparent;
          //-webkit-animation: hue 60s infinite linear;

        }

        .pur {
          color: #6b1198;
        }
        .yel {

          color: #ecd034;
        }

        @-webkit-keyframes hue {
          from {
            -webkit-filter: hue-rotate(0deg);
          }

          to {
            -webkit-filter: hue-rotate(360deg);
          }
        }
      }

    }
  }
}
