.res {
  #shelter {

    padding: 5vh 0;
    padding-bottom: 0;
    background: white;
    #main_caption {

      font-size: 2em;
      text-align: center;
      color: #1d0729;
    }

    #main_caption_sm {
      width: 85%;
      margin: auto;
      img {
        width: 100%;
      }
    }
    #org_contact {
      label{
        display: block;
        margin-bottom: 5px;
        color: #66077b;
        font-weight: 600;
        margin-top: 1vh;
      }
      .requied_label{
        display: inline-block;
      }
      span{
        transform: translateY(15%);
        color: #00bed6;
        font-weight: bold;
        font-size: 26px;
        display: inline-block;
        line-height: 1em;
      }
      form {
        margin: auto;
        width: 80%;
        input[type=text] {
          display: block;
          width: 89%;
          margin: auto;
          margin-top: 1vh;
          border: 1px solid #b7b49f;
          border-bottom: 1px solid #b7b49f;
          border-radius: 7px;
          padding: 0 5px;
          font-size: 0.7em;
        }
        input[type=submit] {
          display:block;
          margin: auto;
          margin-top: 3vh;
          margin-bottom: 3vh;
          background-color: #66077b;
          width: 50%;
          height: 5vh;
          color: white;
          border-radius: 10px;
          border: 0px;
          font-size: 4vw;
        }
      }
    }
    #shelter_icon {

      margin: auto;
      padding: 2em 0em;
      //-vendor-animation-delay: 2s;

      .s_icon {

        display: inline-block;
        width: 28%;
        margin-left: 4%;
        cursor: pointer;
        vertical-align: middle;
        margin-bottom: 1em;
        img {

          width: 100%;
        }
      }
    }


    #recent_adopt{

      margin-top: 1em;
      background: #fde46b;
      min-height: 30vh;
      position: relative;
      //position: absolute;
      //width: 100vw;
      //bottom: 0;

      .container{

        padding: 2em 0em;
        width:80%;
        .one_d{
          background-color: transparent;
          display: inline-block;
          width: 100%;
          margin-top: 5%;
          height: 300px;
          //margin-left: 0.5%;
          vertical-align: top;
          position: relative;
          text-align: left;
          cursor: pointer;

          .card{
            position: relative;
            height: 300px;
            margin: 0;
            background: transparent;
            background-size: cover !important;

          }

          .dog_info{
            display: none;
            position: absolute;
            padding:0.8em;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background:rgba(107, 17, 152, 0.27);
            color: white;
            .name{

              font-size: 2em;
              padding-bottom: 0.2em;
              font-weight: bold;

            }
            .addr{

              font-size: 0.75em;
              max-width: 70%;
              color: #fafafa;
              margin: 0.5em 0;
              //font-size: 1.3em;
              padding-bottom: 0.2em;
              font-weight: bold;



            }
            .link{

              display: inline-block;
              padding: .4em 1em;
              border-radius: 10px;
              font-weight: bold;
              border: 0.15em solid;
              margin: 1em 0;
              color: #f9dc92;
            }

            .arrow{
              width: 0;
              height: 0;
              border-top: 5px solid transparent;
              border-left: 10px solid #fde46b;
              border-bottom: 5px solid transparent;
              display: inline-block;
            }
          }
          .card-image{

            height:300px;
            overflow: hidden;

            a{
              //display: inline-block;
              cursor: pointer;
            }
          }
          .card-content{

            font-size: 0.8em;
          }

        }
      }

      #caption{

        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-size: contain;
        background-image: url('../../resource/adopt_header.png');
        background-repeat: no-repeat;
        max-width: 700px;
        //font-size: 2em;
        padding-top: 2vw;
        padding-bottom: 15px;
        color: white;
        font-size: 1.3vw;
        top: -1em;
      }
    }
    //min-height:80vh;
  }

  @media only screen and (max-width: 700px) { //for nexus 6p 5x iphone 6+
    #recent_adopt #caption {
      min-width: 500px !important;
      padding-left: 7% !important;
      font-size: 1.5em !important;
    }
  }

  @media only screen and (max-width: 440px) { //for nexus 6p 5x iphone 6+
    #recent_adopt #caption {
      min-width: 310px !important;
      padding-left: 5% !important;
      font-size: 1em !important;
    }
  }

  @media only screen and (max-width: 400px) { //for S5  iphone 6
    #recent_adopt #caption {
      min-width: 280px !important;
      padding-left: 20px !important;
      font-size: 0.9em !important;
    }
  }

  @media only screen and (max-width: 350px) { //iphone 5
    #recent_adopt #caption {
      min-width: 250px !important;
      padding-left: 18px !important;
      font-size: 0.8em !important;
    }
  }
}


