<div id="shelter">

    <div id="main_caption">Some of Our Amazing Shelters</div>
    <div id="shelter_icon">



        <div class="s_icon"  v-for="shelter in shelters">

            <div class="icon" v-on:mouseover="changeState(shelter)" v-on:mouseleave="changeHoverState(shelter)">
              <a :href="shelter.a" target="_blank"><img :src="shelter.hover?shelter.bg_h:shelter.bg"></img></a>
            </div>

        </div>
        <!--<div class="s_icon"></div>-->
    </div>

    <div id="recent_adopt">
        <div id="caption">View our Adorable <b>Adoptable Dogs</b> Now!</div>

        <div id="container" class="container">
            <div class="one_d" v-for="dog in dogs">

                <div class="card">
                    <div class="card-image">
                        <a :href="dog.url" target="_blank"><img :src="dog.pic"></a>
                    </div>
                    <!--<div class="card-content">-->
                        <!--<p>I am a very simple card. I am good at containing small bits of information.-->
                            <!--I am convenient because I require little markup to use effectively.</p>-->
                    <!--</div>-->
                    <!--<div class="card-action">-->
                        <!--<a href="#">This is a link</a>-->
                    <!--</div>-->
                </div>

            </div>

        </div>
    </div>

</div>
