#toast-container{
  top: 2% !important;
}
.non-res {
  #shelter{

    padding: 3vh 0;
    background: white;
    display: none;
    height:100vh !important;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    #main_caption{

      font-size: 2em;
      text-align: center;
      color: #b7b49f;
      margin-bottom: 0.5em;
    }
    #main_caption_sm{

      font-size: 1.5em;
      text-align: center;
      color: #b7b49f;
      margin-bottom: 0.5em;
    }

    #org_contact{
      form{
        margin:auto;
        width: 80%;
        input[type=text]{
          display: inline-block;
          width: 39%;
          margin-left: 1%;
          border: 1px solid #b7b49f;
          border-bottom: 1px solid #b7b49f;
          border-radius: 7px;
          padding: 0 5px;
        }
        input[type=submit]{
          background-color: #66077b;
          margin-left: 1%;
          width: 15%;
          height: 5vh;
          color: white;
          border-radius: 10px;
          border: 0px;
        }

      }
      .orgFormfailed, .orgFormsuccess{
        margin-top: 0 !important;
        margin: auto;
        width: 280px;
        color: #9ec19e;
        text-align: center;
        position: relative;
        top: -10px;
      }
    }
    #shelter_icon{

      max-width: 70vw;
      min-width: 900px;
      margin: auto;
      padding:1em 0em;
      text-align: center;
      //-vendor-animation-delay: 2s;

      .s_icon{

        display: inline-block;
        width: 19%;
        margin-left: 0.8%;
        opacity: 0;
        cursor: pointer;
        vertical-align: middle;
        img{

          width:70%;
        }

        &:nth-child(1){

          -webkit-animation-delay: 0s;
        }
        &:nth-child(2){

          -webkit-animation-delay: 0.2s;
        }
        &:nth-child(3){

          -webkit-animation-delay: 0.4s;
        }
        &:nth-child(4){

          -webkit-animation-delay: 0.6s;
        }
        &:nth-child(5){

          -webkit-animation-delay: 0.8s;
        }
      }
    }

    #recent_adopt{

      margin-top: 5em;
      background: #fde46b;
      min-height: 30vh;
      position: absolute;
      width: 100vw;
      bottom: 0;

      .container{
        padding-top: 3em;
        width:90%;
        .one_d{
          background-color: transparent;
          display: inline-block;
          width: 24%;
          height: 250px;
          margin-left: 0.5%;
          vertical-align: top;
          position: relative;
          text-align: left;
          cursor: pointer;

          .card{
            position: relative;
            height: 300px;
            margin: 0;
            background: transparent;
            background-size: cover !important;
          }

          .dog_info{

            display: none;
            position: absolute;
            padding:0.8em;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background:rgba(107, 17, 152, 0.27);
            color: white;
            .name{

              font-size: 1.5em;
              padding-bottom: 0.2em;
              font-weight: bold;

          }
          .addr{

            font-size: 0.75em;
            max-width: 70%;
            color: #fafafa;
            margin: 0.2em 0;
              //font-size: 1.3em;
              padding-bottom: 0.1em;
              font-weight: bold;
            }


            .link{

              display: inline-block;
              padding: .2em 1em;
              border-radius: 10px;
              font-weight: bold;
              border: 0.15em solid;
              margin: 1em 0;
              color: #f9dc92;
            }
            .arrow{
              width: 0;
              height: 0;
              border-top: 5px solid transparent;
              border-left: 10px solid #fde46b;
              border-bottom: 5px solid transparent;
              display: inline-block;
            }
          }
          .card-image{

            height:300px;
            overflow: hidden;

            a{
              //display: inline-block;
              cursor: pointer;
            }
          }
          .card-content{

            font-size: 0.8em;
          }

        }
      }

      #caption{

        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-size: contain;
        background-image: url('../../resource/adopt_header.png');
        background-repeat: no-repeat;
        max-width: 700px;
        //font-size: 2em;
        padding: 0px 40px;
        padding-top: 1vw;
        padding-bottom: 15px;
        color: white;
        font-size: 1.3vw;
        top: -1em;
      }
    }
    //min-height:80vh;
  }
}
