<div id="shelter">

    <div id="main_caption">Some of Our Amazing Shelters</div>
    <div id="shelter_icon">



        <div class="s_icon"  v-for="shelter in shelters">

            <div class="icon" v-on:mouseover="changeState(shelter)" v-on:mouseleave="changeHoverState(shelter)">
              <a :href="shelter.a" target="_blank"><img :src="shelter.hover?shelter.bg_h:shelter.bg"></img></a>
            </div>

        </div>
        <!--<div class="s_icon"></div>-->
    </div>
    <div id="org_contact">
      <div id="main_caption_sm">Sign up to become an affiliated shelter!</div>
      <form v-on:submit.prevent="submitForm(nameOrg, email)">
        <input type="text" placeholder="Name / Organization" v-model="nameOrg">
        <input type="text" placeholder="Email" v-model="email">
        <input type="submit" value="Send An Email">
      </form>
      <div class="orgFormsuccess" style="display: none">
        <p>Thank you for contacting us! We will get back to you within 24 hours!</p>
      </div>
      <div class="orgFormfailed" style="display: none">
        <p>Message Sent Falied! Please Try Again!</p>
      </div>
    </div>

    <div id="recent_adopt">
        <div id="caption">View our Adorable <b>Adoptable Dogs</b> Now!</div>

        <div id="container" class="container">
            <div class="one_d" v-for="dog in dogs" @click="showInfo($index)" @mouseleave="hideInfo($index)">

                <div class="card" :style="{'background':'url(' + dog.pic +')'}">
                    <!--<div class="card-image">-->
                       <!--<img :src="dog.pic">-->
                    <!--</div>-->

                    <div class="dog_info">

                      <div class="name">{{dog.name}}</div>
                      <div class="addr">{{dog.addr}}</div>
                      <div class="des">{{dog.intro}}</div>



                      <a class="link" :href="dog.url" target="_blank">Read More <span class="arrow"></span></a>


                    </div>
                    <!--<div class="card-content">-->
                        <!--<p>I am a very simple card. I am good at containing small bits of information.-->
                            <!--I am convenient because I require little markup to use effectively.</p>-->
                    <!--</div>-->
                    <!--<div class="card-action">-->
                        <!--<a href="#">This is a link</a>-->
                    <!--</div>-->
                </div>

            </div>

        </div>
    </div>

</div>
