#shelter{

  padding: 3vh 0;
  background: white;
  display: none;
  #caption{

    font-size: 3em;
    text-align: center;
    font-weight: 600;
    color: #b7b49f;
  }
  #shelter_icon{

    max-width: 1000px;
    margin: auto;
    padding:5em 0em;
    .s_icon{

      display: inline-block;
      width: 19%;
      margin-left: 0.8%;
      opacity: 0;
      cursor: pointer;
      img{

        width:100%;
      }
    }
  }

  #recent_adopt{

    margin-top: 5em;
    background: #fde46b;
    min-height: 30vh;
    position: relative;

    .container{

      padding: 5em 0em;
      .one_d{

        display: inline-block;
        width:24%;
        margin-left: 0.5%;

      }
    }

    #caption{

      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-size: contain;
      background-image: url('../../resource/adopt_header.png');
      background-repeat: no-repeat;
      max-width: 700px;
      font-size: 2em;
      padding: 0px 40px;
      padding-top: 14px;
      padding-bottom: 15px;
      color: white;
      font-size: 2em;
      top: -1em;
    }
  }
  //min-height:80vh;
}
