<div id="footer">
    <div class="footer-container">
        <div class="left-container">
            <img :src="footerimg"/>
        </div>

        <div class="right-container">
            <div class="email">
                <img class="email-icon" :src="emailicon"/>
                <a href="mailto:laura@dreamdogapp.com?Subject=Dream%Dog" target="_top">laura@dreamdogapp.com</a>
            </div>
            <div class="download">
                <div id="cs">
                    Coming Soon On
                </div>
                <img class="store" :src="appleStore"/>
                <img class="store" :src="gooogleStore"/>
            </div>
            <div class="social">
                <a href="https://twitter.com/DreamDogApp" target="_blank"><img class="social-icon" :src="twit" /></a>
                <a href="https://www.facebook.com/dreamdogapp/" target="_blank"><img class="social-icon" :src="fb" /></a>
                <a href="https://www.instagram.com/dreamdogapp/" target="_blank"><img class="social-icon" :src="ins" /></a>
            </div>
        </div>
    </div>
</div>
