.non-res {
  #footer {
    //border-top: solid 1px #b7b49f;
    //padding-top: 1vh;
    ////position: absolute;
    //bottom: 0;
    //width: 100%;
    height: 160px;
    min-width: 1000px;

    .footer-container{

      height:100%;
    }



  }

  .left-container {
    display: inline-block;
    //padding-left: 10vh;
    width:50%;
    height:100%;

    #dog-logo{
      display: inline-block;
      width: 25%;
      img{
        width: 100%;
      }
    }

    .download{
      display: inline-block;
      position: relative;
      vertical-align: top;
      padding-top: 3em;
      width: 75%;
      padding-left: 5%;

      .cs{
        width: 150px;
        display: block;
        position: relative;
        right: -90px;
      }
      .store{
        display: inline-block;
        width: 40%;
        max-width: 150px;
      }
    }
  }

  .right-container {

    display: inline-block;
    text-align: right;
    vertical-align: top;
    width: 50%;
    height: 100%;
    padding: 3em;
    margin-top: 1em;
    .store {
      max-width: 120px;
      max-height: 90px;
    }
    .email {
      padding-bottom: 0.9vh;
      padding-right: 0.6vh;

      .email-icon {
        max-height: 20px;
      }
      a {
        color: #5a096f;
        //font-size: 2.9vh;
        font-weight: 600;
      }

    }

    .social {
      padding-top: 0.9vh;
      span{
        vertical-align: top;
        color: #bcb595;
      }
    }
    .social-icon {
      max-width: 25px;
      max-height: 25px;
      margin-left: 0.5em;
    }

  }
}
