.non-res {
  #footer {
    padding-top: 5vh;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-width: 1000px;

    .download{

      position: relative;
      #comingsS{

        position: absolute;
        top: 5px;
        left: -85%;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 1.5em;
        color: black;
        padding-top: 0.1em;
        text-transform: none;
        border-radius: 5px;
      }
    }

  }

  .left-container {
    display: inline-block;
    padding-left: 10vh;
    max-width: 250px;
    max-height: 290px;
    img {
      width: 100%;
    }
  }

  .right-container {
    display: inline-block;
    text-align: right;
    padding-right: 10vh;
    max-height: 280px;
    float: right;
    vertical-align: middle;
    padding-top: 5vh;

    .store {
      max-width: 120px;
      max-height: 90px;
    }
    .email {
      padding-bottom: 0.9vh;
      padding-right: 0.6vh;

      .email-icon {
        max-height: 20px;
      }
      a {
        color: #5a096f;
        //font-size: 2.9vh;
        font-weight: 600;
      }

    }

    .social {
      padding-top: 0.9vh;
    }
    .social-icon {
      max-width: 25px;
      max-height: 25px;
      margin-left: 0.5em;
    }

  }
}
