.non-res {
  #footer {
    border-top: solid 1px #b7b49f;
    padding-top: 1vh;
    //position: absolute;
    bottom: 0;
    width: 100%;
    min-width: 1000px;



  }

  .left-container {
    display: inline-block;
    padding-left: 10vh;

    #dog-logo{
      display: inline-block;
      max-height: 180px;
      max-width: 180px;
      img{
        width: 100%;
      }
    }

    .download{
      margin-left: 20px;
      display: inline-block;
      position: relative;
      vertical-align: top;
      top: 40px;
      .cs{
        width: 150px;
        display: block;
        position: relative;
        right: -90px;
      }
      .store{
          height: 60px;
      }
    }
  }

  .right-container {
    display: inline-block;
    text-align: right;
    padding-right: 10vh;
    max-height: 280px;
    float: right;
    vertical-align: bottom;
    padding-top: 8vh;

    .store {
      max-width: 120px;
      max-height: 90px;
    }
    .email {
      padding-bottom: 0.9vh;
      padding-right: 0.6vh;

      .email-icon {
        max-height: 20px;
      }
      a {
        color: #5a096f;
        //font-size: 2.9vh;
        font-weight: 600;
      }

    }

    .social {
      padding-top: 0.9vh;
      span{
        vertical-align: top;
        color: #bcb595;
      }
    }
    .social-icon {
      max-width: 25px;
      max-height: 25px;
      margin-left: 0.5em;
    }

  }
}
