.res {
  #footer {
    border-top: 1px solid #efeeeb;
    padding-top: 10px;
    width: 100%;
    height: 130px;
  }

  .left-container {
    display: block;
    padding: 0;
    #dog-logo{
      display: inline-block;
      max-width: 30%;
      img{
        width: 100%;
      }
    }

    .download{
      float: right;
      display: inline-block;
      max-width: 60%;
      .cs{
        float:right;
        width: 70%;
        position: relative;
        right: 10px;
      }
      .store{
        float: right;
        width: 40%;
      }
    }
  }

  .right-container {
    margin: -35px -1vw;
    width: 100%;
    text-align: right;
    vertical-align: sub;

    #cs{

      font-size: 4vw;
      text-align: right;
      padding-right: .6vh;
    }
    .email {
      padding-right: 0.6vh;

      .email-icon {
        max-width: 20px;
      }
      a {
        color: #5a096f;
        //font-size: 2.9vh;
        font-weight: 600;
      }

    }

    .social {
      padding: 0.9 0vh;
      span{
        line-height: 20px;
        font-size: 0.8em;
        color: #bcb595;
        vertical-align: top;
      }
    }
    .social-icon {
      max-width: 20px;
      margin-left: 0.5em;
    }

  }
}
