#footer{
  padding-top: 5vh;
  border-top: 1px solid rgba(0,0,0,.07);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.left-container{
  display:inline-block;
  padding-left: 10vh;
  max-width: 250px;
  max-height: 290px;
  img{
    width: 100%;
  }
}

.right-container{
  display: inline-block;
  text-align: right;
  padding-right: 10vh;
  max-height: 280px;
  float: right;

  .store{
    max-width: 120px;
    max-height: 90px;
  }
  .email{
    padding-bottom: 0.9vh;
    padding-right: 0.6vh;

    .email-icon{
      max-height: 20px;
    }
    a{
      color: #5a096f;
      //font-size: 2.9vh;
      font-weight: 600;
    }

  }

  .social{
    padding-top: 0.9vh;
  }
  .social-icon{
    max-width: 25px;
    max-height: 25px;
    margin-left: 0.5em;
  }

}
