<div id="footer">
    <div class="footer-container">
        <div class="left-container">
            <img src={{footerimg}}/>
        </div>

        <div class="right-container">
            <div class="email">laura@dreamdogapp.com</div>
            <div class="download"></div>
                <img class="store" src={{appleStore}}/>
                <img class="store" src={{gooogleStore}}/>
            <div class="social">
                <img class="social-icon" src="{{twit}}" />
                <img class="social-icon" src="{{fb}}" />
                <img class="social-icon" src="{{ins}}" />
            </div>
        </div>
    </div>
</div>